.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header img {
    max-height: 128px;
    transition: transform 400ms;
}

.header img:hover {
    transform: scale(1.1) rotate(-5deg);
}

.tooltip-container {
    position: relative; /* Position relative for absolute tooltip positioning */
    display: inline-block; /* Ensures the tooltip aligns with the image */
}

.tooltip {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
    visibility: hidden; /* Hidden by default */
    width: max-content;
    color: black; /* Text color */
    border-radius: 16px; /* Rounded corners */
    border-style: dashed;
    border-color: black;
    border-width: 1px;
    padding: 10px; /* Padding around text */
    padding-left: 15px;
    padding-right: 15px;
    position: absolute; /* Position it absolutely */
    z-index: 1; /* Ensure it appears above other elements */
    top: 50%; /* Center it vertically relative to the image */
    left: -250%; /* Position it to the left of the image */
    margin-left: 10px; /* Space between the image and tooltip */
    opacity: 0; /* Make it invisible by default */
    transition: opacity 400ms; /* Smooth transition for appearance */
    transform: translateY(-50%) translationX(50%); /* Center the tooltip vertically */
}

.tooltip-container:hover .tooltip {
    visibility: visible; /* Make it visible on hover */
    opacity: 1; /* Fade in */
}
