.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.App {
  margin-top: 7%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
}

h1 {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  margin: 0;
}

h2 {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.subtitle {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin: 0;
}

h3 {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;

  padding: 10px;
  color: white;
  background-color: black;
  width: fit-content;

  transition-duration: 400ms;
}

.dates {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

p {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #02A9EA;
}

a:hover {
  color: #EE4266;
  transition-duration: 400ms;
}